* {
  box-sizing: border-box;
  text-decoration-line: none;
}

/* @font-face {
  font-family: "ROEHOE-CHAN";
  src: url("./assets/fonts/ROEHOE-CHAN.ttf") format("woff");
  font-weight: normal;
} */

body,
* {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
